.yellowAlert {
    background-color: #FFFACD;
    border: 2px solid #EF9B0F;
}
.btn-brown {
    background-color: #563B1B;
    border-color: #563B1B;
    color: #FFFACD;
}
.btn-brown:hover {
    background-color: #EF9B0F;
    border-color: #563B1B;
    color: #563B1B;
}
.font-xlg {
    font-size: x-large;
}
.bold {
    font-weight: 600;
}

.text {
    color:#563B1B;
}
.left {
    float:left;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
